<% if (theme.giscus.repo && page.comments){ %>
<section id="comments" class="comment">
  <script src="https://giscus.app/client.js"
          data-repo="<%= theme.giscus.repo %>"
          data-repo-id="<%= theme.giscus.repo_id %>"
          data-category="Announcements"
          data-category-id="DIC_kwDOLagm8s4CdqOC"
          data-mapping="og:title"
          data-strict="1"
          data-reactions-enabled="1"
          data-emit-metadata="1"
          data-input-position="top"
          data-theme="noborder_light"
          data-lang="zh-CN"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>
</section>
<% } %>
<% if( (config.disqus_shortname || theme.disqus_shortname) && page.comments) { %>
<section id="comments" class="comment">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>
<% if (theme.changyan_appid && page.comments){ %>
<div id="SOHUCS" style="width: 95%;"></div>
<% } %>