@font-face {
  font-family: "font-icon-family"; /* Project id 4459365 */
  src: url('../font/iconfont.woff2?t=1709957377934') format('woff2'),
       url('../font/iconfont.woff?t=1709957377934') format('woff');
}

.font-icon-family {
  font-family: "font-icon-family" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e600";
}

.icon-share:before {
  content: "\f064";
}

.icon-github:before {
  content: "\ea91";
}

.icon-douban:before {
  content: "\e60e";
}

.icon-twitter:before {
  content: "\f099";
}

.icon-weibo:before {
  content: "\e619";
}

.icon-stack-overflow:before {
  content: "\e689";
}

.icon-zhihu:before {
  content: "\e641";
}

.icon-rss:before {
  content: "\e883";
}

.icon-weixin:before {
  content: "\f132";
}

.icon-left:before {
  content: "\f053";
}

.icon-right:before {
  content: "\f054";
}

.icon-jike:before {
  content: "\e62d";
}

.icon-category:before {
  content: "\f07b";
}

.icon-menu:before {
  content: "\f0c9";
}

