$theme_config = hexo-config("highlight_theme")

if $theme_config == "default"
  highlight-background   = #F5F6F5
  highlight-current-line = #efefef
  highlight-line-numbers = #bbb
  highlight-selection    = #d6d6d6
  highlight-foreground   = #4d4d4c
  highlight-comment      = #8e908c
  highlight-red          = #FF4040
  highlight-orange       = #FF9666
  highlight-yellow       = #FFC700
  highlight-green        = #1EAC3E
  highlight-aqua         = #059B84
  highlight-blue         = #007EF0
  highlight-purple       = #8B43AB

if $theme_config == "night"
  highlight-background   = #282c34
  highlight-current-line = #393939
  highlight-line-numbers = #666
  highlight-selection    = #515151
  highlight-foreground   = #cccccc
  highlight-comment      = #5c6370
  highlight-red          = #e06c75
  highlight-orange       = #d19a66
  highlight-yellow       = #e6c07b
  highlight-green        = #98c379
  highlight-aqua         = #56b6c2
  highlight-blue         = #61aeee
  highlight-purple       = #c678dd
  