$theme_config = hexo-config("highlight_theme")

if $theme_config == "default"
  highlight-background   = #F5F6F5
  highlight-current-line = #efefef
  highlight-line-numbers = #bbb
  highlight-selection    = #d6d6d6
  highlight-foreground   = #4d4d4c
  highlight-comment      = #8e908c
  highlight-red          = #FF4040
  highlight-orange       = #FF9666
  highlight-yellow       = #FFC700
  highlight-green        = #1EAC3E
  highlight-aqua         = #059B84
  highlight-blue         = #007EF0
  highlight-purple       = #8B43AB

if $theme_config == "night"
  highlight-background   = #2d2d2d
  highlight-current-line = #393939
  highlight-line-numbers = #666
  highlight-selection    = #515151
  highlight-foreground   = #cccccc
  highlight-comment      = #999999
  highlight-red          = #f2777a
  highlight-orange       = #f99157
  highlight-yellow       = #ffcc66
  highlight-green        = #99cc99
  highlight-aqua         = #66cccc
  highlight-blue         = #6699cc
  highlight-purple       = #cc99cc  