//sidebar
#asidepart
  display flex
  flex-wrap wrap
  background color-section
  margin 1em 0 auto 0
  padding 0.5em 2% 1em
  @media tablet
    flex-direction column
    width 18%
    margin 2em 0 auto 3%

.asidetitle
  font-size 1.1em
  color #413f3f
  padding 0 0 0.3em 0
  border-bottom 0.5px solid color-gray
  a
    color color-blue
    &:hover
      color color-theme
      transition color .5s

//categories
.categorieslist
  width 100%
  @media mini
    width 45%
    margin 0 5% 0 0
  @media tablet 
    width 100%
    margin 1em 0 0
  li 
    a
      display block
      padding 0.2em 0
      &:hover
        color color-theme

//tag
.tagslist
  margin 1em 0 0
  @media mini
    width 45%
    margin 0 5% 0 0
  @media tablet 
    width 100%
    margin 1em 0 0
  ul
    padding 0.5em 0
  ul li
    float left
    a
      display block
      margin 0.3125em
      padding 0.125em 0.3125em
      background lighten(color-gray, 30%)
      &:hover
        color color-theme
        background lighten(color-gray, 50%)

//rss
.rsspart
  width 100%
  background color-theme
  &:hover
    background lighten(color-theme, 25%)
  @media mini
    margin-top 1em 
  @media tablet 
    width 100%
    margin 1em 0 0
  a
    color color-white
    display block
    padding 0.625em 0
    text-align center
    &::before
      font-family font-icon-family
      font-size 1.1em
      font-smoothing()
      padding-right 0.2em
      content "\e883"

//archive
.archiveslist
  padding-right 1em
  @media tablet 
    width 100%
    float none
    margin 1em 0 0
  li 
    font-size 0.8em
    line-height 2em
    a
      padding 0.5em
      &:hover
        color color-theme
        transition color .25s
  .archive-list-count
    &:before
      content "("
    &:after
      content ")"
          
.archive-list 
  padding 0.5em 0 

.archive-float 
  ul
    padding 0 
  li
    float left
    margin 0.3em
    @media tablet
      float none

//tagcloud
.tagcloudlist
  @media mini
    width 45%
    float left
    margin 0 5% 0 0
  @media tablet 
    width 100%
    float none
    margin 1em 0 0
  .tagcloudlist
    a
      padding 0.2em
      display block
      float left
      &:hover
        color color-theme
        transition color .25s

//links
.linkslist
  width 100%
  margin-top 1em 
  @media mini
    width 45%
    margin 0 5% 0 0
  @media tablet 
    width 100%
    margin 1em 0 0
  ul
    padding 0.5em 0
    a
      font-size 1em
      line-height line-height
      display block
      padding 0.2em 0
      &:hover
        color color-theme
        transition color .25s
