footer.article-footer
  display flex
  justify-content space-between
  background color-section
  padding 0 4%
  border-top 0.5px solid lighten(color-gray,30%)
  
#share 
  display flex
  align-items center
  span
    display inline-flex
    align-items center
    margin-right 0.5em
    color lighten(color-gray,20%)
    &:before
      font-family font-icon-family
      content "\f064"
      font-size 1em
      font-smoothing()
  a
    width 3em
    height 3em
    display inline-flex
    justify-content center
    align-items center
    &:before
      font-size 1.2em
      font-family font-icon-family
      color color-font
      font-smoothing()
    &:hover:before
      color color-white
  
.article-share-twitter
  &:before
    content "\f099"
  &:hover
    color color-theme
    text-shadow 0 1px darken(color-twitter, 20%)

.article-share-facebook
  &:before
    content "\f09a"
  &:hover
    background color-facebook
    text-shadow 0 1px darken(color-facebook, 20%)

.article-share-weibo
  &:before
    content "\f18a"
  &:hover
    background color-weibo
    text-shadow 0 1px darken(color-weibo, 20%)

.article-share-qrcode
  &:before
    font-family font-icon-family
    content "\f132"
  &:hover
    color color-theme
    text-shadow 0 1px darken(color-qrcode, 20%)

.article-back-to-top
  &:before
    content "\f062"
  &:hover
    background color-top
    text-shadow 0 1px darken(color-top, 20%)

//qrcode
.hoverqrcode
  background color-white
  border 3px solid color-theme
  border-radius 10px
  display inline-block
  position absolute

.overlay
  display none !important

//comments-count
.comments-count
  color lighten(color-gray,20%)
  margin-top 0.3em
  padding 0.5em 0
  float right
  span
    &:before
      font-family font-icon-family
      font-smoothing()
      content "\f075"
  @media phonemax
    float left

.comments-count-link
  padding 0.5em
  margin 0 0.3em
  &:hover
    color color-white !important
    background color-blue


//tags&categories
.article-catetags
  display flex
  align-items center
.article-tags,.article-categories
  display flex
  align-items center
  padding 0.5em 0.2em 0.5em 0

.article-tags
  a
    padding 0 0.2em
    &:before
      content "#"
      padding-right 0.1em
      font-family font-icon-family
      font-smoothing()
      color color-gray
    &:hover
      color color-white
      background color-blue
  
.article-categories
  color lighten(color-gray,20%)
  span
    &:before
      font-family font-icon-family
      content "\f07b"
      font-size: 1.2em

.article-category-link
    color color-blue

//page nav
.article-nav
  display flex
  padding 1.5em 4%
  a
    display block
    overflow hidden
    color color-blue
  .prev
    text-align left
    span:before
      content "\f053"
      font-family font-icon-family
      font-smoothing()
      margin-right 0.5em
  .next
    margin-left auto
    text-align right
    span:after
        content "\f054"
        font-family font-icon-family
        font-smoothing()
        margin-left 0.5em

//comment
section.comment
  padding 0 4%
  margin 1em 0

//toc
.toc-article
  background color-code
  margin 0
  padding 1em
  border-radius 4px
  strong
    padding 0.3em 0
  ul li
    list-style disc
    text-align match-parent
    margin 0.5em 0
  ol li
    list-style-type decimal
    margin 0.5em 0

#toc
  line-height 1.3em
  font-size 0.8em
  // float right
  .toc
    padding 0 
    li
      list-style-type none
  .toc-child 
    padding-left 1.5em
    padding-top 0

#toc.toc-aside
  display none
  width 13%
  position fixed
  right 2%
  top 320px
  overflow hidden
  line-height 1.5em
  font-size 1em
  color color-heading
  opacity .6
  transition opacity 1s ease-out
  strong
    padding 0.3em 0
    color color-font
  &:hover
    transition opacity .3s ease-out
    opacity 1
  a
    transition color 1s ease-out
    &:hover
      color color-theme
      transition color .3s ease-out
.active
  color color-theme !important


// markdown 脚注插件覆盖
// (https://kchen.cc/2016/11/10/footnotes-in-hexo/#fnref:4)
// https://github.com/kchen0x/hexo-reference
#footnotes
  hr
    margin 0.5em 0
    border 0
  #footnotelist
    padding-top 0.5em
    &:before
      content '[脚注]'
      color #d6d6d6
      font-size 1.2em
    ol
      padding-top 0.2em
      margin-left 0 !important
      li
        list-style-type  none
        span
          display inline  !important
          margin-left 0 !important