/*! index layout */
#container
  display flex
  flex-direction column
  width 98%
  max-width 1200px
  margin 0 auto
  overflow hidden
  @media tablet
    flex-direction row
    
#main
  margin 1em 0 0
  line-height line-height+0.3
  @media tablet
    margin 2em 0 0
    width 75%
    transition margin 0.5s ease-out
  section.post
    background color-section
    margin-bottom 0.5px
    a
      display block
      border-left 0.1em solid #fff
      transition border-left .45s
      padding 0.8em 
      @media mini
        padding 1em
      &:hover
        border-left 0.1em solid color-theme
      h1
        color #413f3f
        line-height line-height+0.5
      p
        color color-font
      time
        color color-font
        display block
        margin 0.5em 0
        font-size 0.9em
  
#archive-page
  section.post
    width 100%
    a
      display flex
      font-size 0.9em
      padding 0.5em !important
    h1
      display flex
      align-items center
      font-size 1.2em
    time
      display flex
      align-items center
      margin 0
      white-space nowrap
      padding 0 0.5em
      font-size 1em !important


.moveMain
  margin-left 10% !important



#page-nav
  display flex
  justify-content center
  align-items center
  background color-section
  padding 1em 0
  a
    display inline-block
    padding 0.5em 1em
  a
    color color-blue
  .prev
    span:before
      font-family font-icon-family
      font-smoothing()
      content "\f053"
      padding-right 0.5em
  .next
    span:after
      font-family font-icon-family
      font-smoothing()
      content "\f054"
      padding-left 0.5em
  .page-number
    display inline-block
    padding 0.5em 1em
  .current
    color #000     
    font-weight bold
  .space
    color color-blue

/*! page layout */
.page
  @media tablet
    margin-left 10% !important

/*! archive layout */
.category-icon:before,.tag-icon:before,.archive-icon:before
  font-family font-icon-family
  font-smoothing()
  color color-gray
  font-size font-size
  padding-right 0.3em

.category-icon:before
  content "\f07b"

.tag-icon:before
  content "#"
  font-size 1em
  

.archiveslist-view
  display flex
  flex-direction column
  flex-grow 1
  margin 2em 0 auto 0
  padding 0.5em
  background color-section
  .archive-title
    padding 0 0.5em
    h2
      color color-title
      font-size font-size+20
    a
      color color-blue
      transition color .5s
      &:hover
        color color-theme
        transition color .5s
  .archive-list 
    padding 0.5em 
    li 
      font-size 0.8em
      line-height 2em
      a
        &:hover
          color color-theme
          transition color .25s
    .archive-list-count
      padding 0.5em
      &:before
        content "("
      &:after
        content ")"



.archive-part
  @media mini
    min-height 200px
  @media tablet
    margin-left 2% !important

/*! tags&categories layout */
.all-list-box
  min-height 400px
